* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #12131A;
    color: #E4E0D4;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #E4E0D4;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.btn-paul {
    color: #FFFFFF;
    text-decoration: rgb(0, 0, 0);
    font-size: 25px;
}
body {
    background-color: #12131A;
}
p {
    font-size: 16px;
    color: #E4E0D4;
}

.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    color: ivory;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 30px;

}

form .submit{
    background: rgb(177, 177, 207);
    border-color: transparent;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 40px;
    margin-top: 20px;
}

.form-control img {
    max-height: 200px;
    margin: auto;
}

